---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Picture } from "astro:assets";

export async function getStaticPaths() {
	const projects = await getCollection("project");
	return projects.map((project) => ({
		params: { slug: project.id },
		props: { project },
	}));
}

const { title,summary, target,raised, cover} = Astro.props.project.data;
const { Content } = await render(Astro.props.project);

const meta = {
	title:`Project | ${title}`,
	description:`${summary}`,
	image:'',
	url:Astro.url,
	
}

---

<Layout {...meta}>	
	<div class='mt-20'>
    <article class="prose max-w-3xl mx-auto">
      <h1 class='text-5xl px-4'>{title}</h1>
      <Picture src={cover} formats={['avif', 'webp']} alt={title} class='aspect-video'/>
      <div class='px-4'>
        <Content />
      </div>
    </article>
	</div>
</Layout>
